body
{
    /*padding: 10px;
    padding-top: 75px;*/
    background-color:#A60000;
    overflow:hidden;
}

.contenido
{
    /*float:left;*/
    margin: inherit;
    margin-top:0px;
    position:relative;
}

#contenido_chico
{
    float: left;
    margin-bottom:15px;
}

.wrapper
{
    background-color:#f0f0f0;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius:10px;
    height:500px;
    max-width:90%;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: auto;
/*    margin:5% 5% 5% 4%;*/
    padding-left: 2%;    
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.navbar-nav
{
    width:100%;
    float:center;
    background-color:#A5A5A5;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.navbar-nav > li:first-child /*nth-of-type(1)*/
{
    margin-left:30%;
}

.footer
{
  bottom: 0;
  width: 100%;
  background-color:#f0f0f0;
  height: 50px;
  border: solid black 2px;
}

/*.user
{
    margin-right:20%;
}*/

#bottom
{
    text-align:center;
}

#materias
{
    list-style-type:none;
    width:25%
}

#promedio
{
    color: red;
    font-family: Garamond;
    font-size:38px;
}

.progress
{
    margin-right:50px;
    height: 40px;
}

#cabezera
{
    text-align:center;
    font-family: Times, Cursive;
    font-size: 42px;
    
}
