#centro
{
   text-align:center;
}

#tablaCol
{
    color:red;
}

#cabezera
{
    border-top:1px solid black;
}

.datos
{
    padding:5px;
}

.cabezera
{
    border-left:1px solid black;
}

#nota
{
    color:blue;
    font-family:Comic Sans;
}
