<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML//EN">

<html>
    <head>
        {% load staticfiles %}
        <link type = "text/css" href= "{% static "carrera/css/bootstrap.min.css" %}" rel="stylesheet"></link>
        <link type = "text/css" href= "{% static "carrera/css/bootstrap-responsive.css" %}" rel="stylesheet"></link>
        <link type = "text/css" href= "{% static "carrera/css/normalize.css" %}" rel="stylesheet"></link>
        <link type = "text/css" href= "{% static "carrera/css/bootstrap-select.min.css" %}" rel="stylesheet"></link>
        <link type = "text/css" rel="stylesheet" href= "{% static "carrera/css/carrera.css" %}"></link>
        {% block links %}{%endblock links%}  
        
        <title>{% block titulo %}Plan Carrera{% endblock %}</title>
        
        
       <script src= "{% static "carrera/js/jquery-2.1.1.min.js" %}"></script>
       <script src= "{% static "carrera/js/bootstrap.min.js" %}"></script>
       <script src= "{% static "carrera/js/bootstrap-select.min.js" %}"></script>
       <script src= "{% static "carrera/js/bootstrap-select.js.map" %}"></script>
       {% block scripts %}{% endblock scripts %}
       
    </head>
<body>
<nav class ="navbar navbar-default navbar-fixed-top" role="navegation">
<!---    <div class="navbar-header">
       <a class="navbar-brand" href="/"><img src=" {% static "carrera/img/logo.png" %}" alt="Sistemas UNLa"/></a> 
    </div> --->
        <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}            
            <li class="active dropdown"> 
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.username }}
                <b class="caret"></b>
                <ul class="dropdown-menu">
                <li><a href="/">Inicio</a></li>
                    <li><a href="/plan/alumno">Ver datos</a></li>
                        <li class="divider"></li>
                        <li><a href="/plan/logout">Logout</a></li>
                </ul>
            </li>
            {% else %}
            <li class="active"><a href="/?reg=0">Login</a></li>
            {% endif %}
            
            <li class="active dropdown">
                <a href="#" class="dropdown-toggle .visible-*-block" data-toggle="dropdown">
                Materias <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
            {% if user.is_authenticated %}  
                    
                    <li><a href="/plan/nueva-materia">Anotarse nueva materia</a></li>
                    <li><a href="/plan/abandonar-materia">Abandonar materia</a></li>
                    <li class="divider"></li>
            {% endif %}
                    <li><a href="/plan/materias">Listar materias</a></li>
                    <li><a href="/plan/materias/arbol">Arbol</a></li>
                </ul>            
            </li>
            <li class="active dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Examenes <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/plan/nuevo-examen">Agregar</a></li>
                    <li><a href="/plan/consulta-examen">Consulta</a></li>
                </ul> 
            </li>
            <li class="active dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Datos Utiles <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/plan/ayuda">Ayuda</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.unla.edu.ar" target="_blank">Sitio oficial UNLa</a></li>
                    <li><a href="http://www.unla.edu.ar/sistemas/sls"
                    target="_blank">Sistemas UNLa</a></li>
                </ul>            
            </li>
        </ul>
</nav> 
<div class="wrapper">
         <h3 id="cabezera">{% block cabezera %}{% endblock %}</h3>
         
         <div class="contenido">
             <div id="contenido_chico">
                 {% block contenidochico %}{% endblock contenidochico %}<!-- para barras que necesiten ser cortas -->
             </div>
             {% block contenido %}{% endblock %} <!--- Arreglar que el contenido extienda el DIV --->
         </div>
</div>
</body>
<footer class="footer">
        {% block footer %}
        <div id="bottom"><p>Copyright &#169; Supergrupo ñoños</p>
        {% endblock %}    
</footer>
</html>
