<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML//EN">

<html>
    <head>
        {% load staticfiles %}
        <link href= "{% static "carrera/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href= "{% static "carrera/css/bootstrap-responsive.css" %}" rel="stylesheet">
        <link href= "{% static "carrera/css/nuestro.css" %}" rel="stylesheet">  
        
        <title>{% block titulo %}Plan Carrera{% endblock %}</title>
        
        
       <script src= "{% static "carrera/js/jquery-1.11.1.js" %}"></script>
       <script src= "{% static "carrera/js/bootstrap.min.js" %}"></script>
       <script src= "{% static "carrera/js/carrera.js" %}"></script>
       
    </head>

    <body>
      <h1>{% block cabezera %} Bienvenidos {% endblock %}</h1>
      {% block contenido %} {% endblock %}    
      {% block footer %}
    <hr>
    <div id="bottom">Copyright &#169; Supergrupo ñoños.</p>
    {% endblock %}
</body>    
</html>
