{%extends "format.html" %}

{% block titulo %} {{ alumno.last_name }}, {{alumno.first_name}} {% endblock %}
    {% block cabezera %} Datos del usuario {% endblock %}
    
    {% block contenido %}

	<ul><br>
		<li>Usuario: {{alumno.username}}</li><br>
		<li>Nombre: {{alumno.first_name}}</li><br>
		<li>Apellido: {{alumno.last_name}}</li><br>
		<li>Email: {{alumno.email}}</li><br>
	</ul>

	<button type="submit" class="btn btn-success" id="esteboton" action="/plan/editar-datos">Editar datos</button>
	<h3><a id="esteboton" href="/plan/editar-datos">Click ACA!</a></h3>
<!--
    {% if libre or en_curso or aprobada or completa %}
        {% if libre %}
        <h3>Materias libres</h3>
        <ul>
        {% for mat in libre %}
            <li>{{mat.materia.nombre}}</li>
        {% endfor %}
        </ul>
        <br/>
        {% endif %}
        {% if en_curso %}
        <h3>Materias en curso</h3>
        <ul>
        {% for mat in en_curso %}
            <li>{{mat.materia.nombre}}</li>
        {% endfor %}
        </ul>
        <br/>
        {% endif %}
        {% if aprobada %}
        <h3>Materias con final adeudado</h3>
        <ul>
        {% for mat in aprobada %}
            <li>{{mat.materia.nombre}}</li>
        {% endfor %}
        </ul>
        <br/>
        {% endif %}
        {% if completa %}
        <h3>Materias completas</h3>
        <ul>
        {% for mat in completa %}
            <li>{{mat.materia.nombre}}</li>
        {% endfor %}
        </ul>
        </br>
        {% endif %}
       
    {% else %}
    <h3>No se anoto a ninguna materia, seria un buen lugar para empezar...</h3>   
    {% endif %}
    -->
    <div class="modal fade" id="muestra">
    {% include "plan/datosmodal.html" %}
    </div><!-- /.modal -->
    
    {% endblock %}

