{%extends "format.html" %}

{% block titulo %} {{ alumno.last_name }}, {{alumno.first_name}} {% endblock %}
    {% block cabezera %} {{alumno.username}} {% endblock %}
    
    {% block contenido %}

	<ul><br/>
		Usuario: {{alumno.username}}<br/><br/>
		Nombre: {{alumno.first_name}}<br/><br/>
		Apellido: {{alumno.last_name}}<br/><br/>
		Email: {{alumno.email}}<br/><br/>
	</ul>

	<button type="submit" class="btn btn-success muestraModal" data-form="/plan/editar-datos">Editar datos</button>

<div class="modal fade" id="muestra">
    {% include "plan/datosmodal.html" %}
</div><!-- /.modal -->
    
    {% endblock contenido %}

