{% extends "plan/arbol.html" %}

{% block programacion %}success active{% endblock %}
{% block org %}warning active{% endblock %}"
{% block mate1 %}warning active{% endblock %}    
{% block algoritmos %}danger active{% endblock %}           
{% block ipc %}danger active{% endblock %}   
{% block arquitectura %} active{% endblock %}
{% block matematica_2 %} active{% endblock %}
{% block is2 %}{% endblock %}
{% block iso %}{% endblock %}
{% block ayed %}{% endblock %}
{% block matematica_3 %}{% endblock %}
{% block ibd %}{% endblock %}
{% block probabilidad_Y_Estadistica %}{% endblock %}
{% block objetos1 %}{% endblock %}
{% block seminario_de_lenguajes %}{% endblock %}

