{% extends "plan/arbol.html" %}


{% block programacion %}{{materias.programaciondecomputadoras}}{% endblock %}
{% block organizacion %}{{materias.organizaciondecomputadoras}}{% endblock %}
{% block matematica1 %}{{materias.matematica1}}{% endblock %}    
{% block algoritmos %}{{materias.expresiondeproblemasyalgoritmos}}{% endblock %}           
{% block ipc %}{{materias.introduccionalpensamientocientifico}}{% endblock %}   
{% block arquitectura %}{{materias.arquitecturadecomputadoras}}{% endblock %}
{% block matematica2 %}{{materias.matematica2}}{% endblock %}
{% block is1 %}{{materias.ingenieriadesoftware1}}{% endblock %}
{% block iso %}{{materias.introduccionalossistemasoperativos}}{% endblock %}
{% block ayed %}{{materias.algoritmosyestructurasdedatos}}{% endblock %}
{% block matematica_3 %}{{materias.matematica3}}{% endblock %}
{% block ibd %}{{materias.introduccionalasbasesdedatos}}{% endblock %}
{% block probabilidad %}{{materias.probabilidadesyestadistica}}{% endblock %}
{% block objetos1 %}{{materias.orientacionaobjetos1}}{% endblock %}
{% block seminario %}{{materias.seminariodelenguajes}}{% endblock %}
{% block bd1 %}{{materias.basesdedatos1}}{% endblock %}
{% block sistemas %}{{materias.sistemasyorganizaciones}}{% endblock %}
{% block objetos2 %}{{materias.orientacionaobjetos2}}{% endblock %}
{% block is2 %}{{materias.ingenieriadesoftware2}}{% endblock %}
{% block concurrente %}{{materias.programacionconcurrente}}{% endblock %}
{% block proyecto %}{{materias.proyectodesoftware}}{% endblock %}
{% block paradigmas %}{{materias.conceptosyparadigmasdelenguajesdeprogramacion}}{% endblock %}
{% block redes %}{{materias.redesycomunicaciones}}{% endblock %}
{% block is3 %}{{materias.ingenieriadesoftware3}}{% endblock %}
{% block bd2 %}{{materias.basesdedatos2}}{% endblock %}
{% block fundamentos %}{{materias.fundamentosdeteoriadelacomputacion}}{% endblock %}
{% block sisoperativos %}{{materias.sistemasoperativos}}{% endblock %}
{% block distribuidos %}{{materias.desarrollodesoftwareensistemasdistribuidos}}{% endblock %}
{% block discreta %}{{materias.matematicadiscreta}}{% endblock %}
{% block embebidos %}{{materias.disenosdesistemasembebidos}}{% endblock %}
{% block pruebas %}{{materias.pruebasdesoftware}}{% endblock %}
{% block virtuales %}{{materias.espaciosvirtualesdetrabajocolaborativo}}{% endblock %}
{% block politica %}{{materias.politicaygestiondelaciencia}}{% endblock %}
{% block aspectos %}{{materias.aspectoslegalesyprofesionalesdeinformatica}}{% endblock %}
{% block escenarios %}{{materias.nuevosescenarios}}{% endblock %}
{% block explotacion %}{{materias.tecnologiasdeexplotaciondeinformacion}}{% endblock %}
{% block empirica %}{{materias.ingenieriadesoftwareempirica}}{% endblock %}
{% block final %}{{materias.seminariodetrabajofinaldelicenciaturaensistemas}}{% endblock %}

{# block contenidochico %}{{materias}}{%endblock#}

