{% extends "format.html" %}
{% block links %}
{% load staticfiles %}
<link type = "text/css" rel="stylesheet" href= "{% static "carrera/css/arbol.css" %}"></link>
{% endblock links %}
{% block titulo %} Arbol Materias {% endblock titulo %}
{% block cabezera %} Lic. en Sistemas {% endblock cabezera %}
{% block contenido %}
<h3 class="tituloAnio">Primer Año</h3>
<div id="anio">
    <table>
    <tr>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block organizacion %}{% endblock %}">Organizacion de Computadoras</a>
                
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block matematica1 %}{% endblock %}">Matematica 1</a>    
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block programacion %}{% endblock %}">Programacion de Computadoras</a> 
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block algoritmos %}{% endblock %}">Expresion de Problemas y Algoritmos</a> 
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block ipc %}{% endblock %}">Introduccion al Pensamiento Cientifico</a> 
            </div>
        </td>                        
    </tr>
    <tr>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block arquitectura %}{% endblock %}">Arquitectura de Computadoras</a> 
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block matematica2 %}{% endblock %}">Matematica 2</a> 
            </div>
        </td>        
        <td>
        </td>
    </tr>   
    </table>
</div>
<h3 class="tituloAnio">Segundo Año</h3>
<div id="anio">
    <table>
    <tr>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block is1 %}{% endblock %}">Ingenieria de Software 1</a> 
            </div> 
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block matematica_3 %}{% endblock %}">Matematica 3</a>
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block ibd %}{% endblock %}">Introduccion a las Bases de Datos</a> 
            </div>
        </td>        
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block iso %}{% endblock %}">Introduccion a los Sistemas Operativos</a> 
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block ayed %}{% endblock %}">Algoritmos y Estructuras de Datos</a>         
            </div>
        </td>                                         
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block probabilidad %}{% endblock %}">Probabilidades y Estadisticas</a> 
            </div>        
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block seminario %}{% endblock %}">Seminario de Lenguajes</a> 
            </div>        
        </td>
        <td>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block objetos1 %}{% endblock %}">Orientacion a Objetos 1</a> 
            </div>        
        </td>        
    </tr>
    </table>
</div>

<h3 class="tituloAnio">Tercer Año</h3>
<div id="anio">
    <table>
    <tr>
        <td>
            <div class="materia">
                 <a class="list-group-item list-group-item-{% block is2 %}{% endblock %}">Ingenieria de Software 2</a> 
            </div> 
        </td>
        <td>
            <div class="materia">
                 <a class="list-group-item list-group-item-{% block sistemas %}{% endblock %}">Sistemas y Organizaciones</a> 
            </div>        
        </td>        
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block proyecto %}{% endblock %}">Proyecto de Software</a>      
            </div>
        </td>        
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block redes %}{% endblock %}">Redes y Comunicaciones</a>      
            </div>
        </td>
        <td>
            <div class="materia">
                 <a class="list-group-item list-group-item-{% block objetos2 %}{% endblock %}">Orientacion a Objetos 2</a> 
            </div>
        </td>                                  
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block concurrente %}{% endblock %}">Programacion Concurrente</a>
            </div>
        </td>
        <td>
        </td>    
        <td>
            <div class="materia">
                 <a class="list-group-item list-group-item-{% block paradigmas %}{% endblock %}">Conceptos y Paradigmas de Lenguajes de Programacion</a>                  
            </div>        
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block bd1 %}{% endblock %}">Bases de Datos 1</a>
            </div>
        </td>    
    </tr>  
    </table>
</div>
<h3 class="tituloAnio">Cuarto Año</h3>
<div id="anio">
    <table>
    <tr>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block is3 %}{% endblock %}">Ingenieria de Software 3</a> 
            </div> 
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block bd2 %}{% endblock %}">Bases de Datos 2</a> 
            </div>
        </td>        
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block fundamentos %}{% endblock %}">Fundamentos de Teoria de la Computacion</a> 
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block sisoperativos %}{% endblock %}">Sistemas Operativos</a> 
            </div>
        </td>        
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block discreta %}{% endblock %}">Matematica Discreta</a> 
            </div>
        </td>                                    
    </tr>
    <tr>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block distribuidos %}{% endblock %}">Desarrollo de Software en Sistemas Distribuidos</a> 
            </div>        
        </td>
        <td>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block virtuales %}{% endblock %}">Espacios Virtuales de Trabajo Colaborativo</a> 
            </div>        
        </td>      
    </tr>
    <tr>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block embebidos %}{% endblock %}">Diseños de Sistemas Embebidos</a> 
            </div>
        </td>  
    </tr>
    <tr>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block pruebas %}{% endblock %}">Pruebas de Softwares</a> 
            </div>
        </td>      
    </tr>   
    </table>
</div>

<h3 class="tituloAnio">Quinto Año</h3>
<div id="anio">
    <table>
    <tr>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block politica %}{% endblock %}">Politica y Gestion de la Ciencia</a> 
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block escenarios %}{% endblock %}">Nuevos Escenarios</a> 
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block explotacion %}{% endblock %}">Tecnologias de Explotacion de Informacion</a> 
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block empirica %}{% endblock %}">Ingenieria de Software Empirica</a> 
            </div>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block final %}{% endblock %}">Seminario de Trabajo Final de Licenciatura en Sistemas</a> 
            </div>
        </td>                        
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <div class="materia">
                <a class="list-group-item list-group-item-{% block aspectos %}{% endblock %}">Aspectos legales y Profesionales de Informatica</a> 
            </div>
        </td>
        <td>
        </td>        
    </tr>   
    </table>
</div>

{% endblock contenido %}
