  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">{{alumno.0}} {{alumno.1}}</h3>
      </div>  <!-- /.modal-header -->
      <div class="modal-body">
        <p>
        <form class="form-horizontal" id="datos" action="." method="POST">
    
  
        <div id="EditarDatos">
            <h3>Editar Datos</h3>
            
            <div id="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" value={{alumno.0}} name=name required />
            </div> <!-- /.form-group -->
            <div id="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" value={{alumno.1}} name=last required />
            </div> <!-- /.form-group -->
            <div id="form-group">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" id="email" name=email value={{alumno.2}}  required />
            </div> <!-- /.form-group -->
        </div> <!-- /.EditarDatos -->

        <!---
            <label for="pass">Contraseña</label>
            <input type="password" class="form-control" id="pass" placeholder="Ingrese contraseña" name="passwd" required />
        </div>
        <!--<div id="form-group">
              <label for="rpt">Repita Contraseña</label>
              <input type="password" class="form-control" id="rpt" value="Repita Contraseña" name="repasswd" required />
        </div>
            -->
        </div>
        <div class="form-group">

      <div class="modal-footer">
        <button type="submit" form="datos" class="btn btn-default">Confirmar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
        </div>
</form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
