<form class="form-horizontal" action="." method="POST">
    
  
  <div id="EditarDatos">
        <h3>Editar Datos</h3>
        
        <div id="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" value={{alumno.0}} name="name" required />
        </div>
        <div id="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" value={{alumno.1}} name="lastname" required />
        </div>
        <div id="form-group">
            <label for="email">E-Mail</label>
            <input type="email" class="form-control" id="email" name="name@example.com" value={{alumno.2}}  required />
        </div>

        
            <label for="pass">Contraseña</label>
            <input type="password" class="form-control" id="pass" placeholder="Ingrese contraseña" name="passwd" required />
        </div>
        <!--<div id="form-group">
              <label for="rpt">Repita Contraseña</label>
              <input type="password" class="form-control" id="rpt" value="Repita Contraseña" name="repasswd" required />
        </div>
            -->
<div style=padding-top:15px>
            <button type="submit" class="btn btn-default">Confirmar</button>
        </div>
<div class="form-group">
    </div>
</form>
