{% extends "format.html" %}
{% block links %}
{% load staticfiles %}
<link type = "text/css" rel="stylesheet" href= "{% static "carrera/css/home.css" %}"></link>
{% endblock links %}
{% block titulo %}Plan Carrera {% endblock %}

{% block cabezera %} Bienvenido al inicio <br/>

<form action="." method="POST">
    <div padding=15px class="form-group">
    <!--
<label for="q">Search: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Search">
    <input type="submit" value="Search">
-->
<div class="btnCentro">
    <button type="submit" class="btn btn-success btn-lg" name="reg" value="1">
<strong>Registrarse</strong></button>
    <button type="submit" id="reg0" class="btn btn-primary btn-lg" name="reg" value="0"><strong>Ingresar</strong></button></div>
    </div>
</form>
{% endblock %}
{% block contenidochico %}
 {% if reg %}
<form class="form-horizontal" action="." method="POST">
  <div id="segundaParte">
        <h3>Ingrese sus datos</h3>
     
        {% ifequal reg "0" %}
	<div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" id="usuario" autofocus placeholder="Usuario" name="userlog" required minlength="5" maxlength="20" />
        </div>
        <div class="form-group">
            <label for="pass">Contraseña</label>
            <input type="password" class="form-control" id="pass" placeholder="Contraseña" name="passwdlog" required />
        </div>
        <div style=padding-top:15px>
            <button style="background:#3071a9;color:white;border:#285e8e" type="submit" class="btn btn-default"><strong>Ingresar!</strong></button>
        </div>
	{% if regerror != "" %}
            <FONT COLOR="RED">*{{regerror}}</font>
        {% endif %}
</form>
<form class="form-horizontal" action="." method="POST">
	<div style=padding-top:15px>
<a href="plan/rp">¿Olvidaste Contraseña?</a>
<a href="plan/ru">¿Olvidaste tu usuario?</a>
	</div>
</form>
       {% endifequal %}     
<form class="form-horizontal" action="." method="POST"> 
        {% if reg == "1" and registroOk == False %}
        <div id="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" id="usuario" autofocus placeholder="Usuario" name="user" required minlength="5" maxlength="20" />
        </div>
        <div id="form-group">
            <label for="pass">Contraseña</label>
            <input type="password" class="form-control" id="pass" placeholder="Contraseña" name="passwd" required />
        </div>
        <div id="form-group">
              <label for="rpt">Repita Contraseña</label>
              <input type="password" class="form-control" id="rpt" placeholder="Repita Contraseña" name="repasswd" required />
        </div>
            {% if regerror == "passnoigual" %}
              <FONT COLOR="RED">*Las contraseñas no coinciden</font>
            {% endif %}
        <div id="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="name" required />
        </div>
        <div id="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" placeholder="Apellido" name="lastname" required />
        </div>
        <div id="form-group">
            <label for="email">E-Mail</label>
            <input type="email" class="form-control" id="email" name="email"  value="name@example.com" required />
        </div>
            {% if regerror != "Usuario o Email Existente" and regerror != "" and regerror != "passnoigual"%}
            	<FONT COLOR="RED">*Campo {{regerror}} vacio</font>
            {% endif %}
            {% if regerror == "Usuario o Email Existente" %}
                <FONT COLOR="RED">*{{regerror}}</font>
            {% endif %}
        <div style=padding-top:15px>
            <button style="background:#449d44;color:white;border:#285e8e" type="submit" class="btn btn-default"><strong>Registrarse</strong></button>
        </div>
        {% endif %}
	<!--Limpia y redirecciona si esta logueado-->
	{% if registroOk == True %}
		<FONT COLOR="RED">Registro Exitoso, será redireccionado en 5 segundos.</font>
		<p>Presione <a href="/">aqui</a> para acceder inmediatamente</p>
		<script>
		    setTimeout(window.location="http://atix.koding.io:80", 5000);
		</script>
	{% endif %}
    </div>
  {% endif %}	
</form>
{% endblock contenidochico %}
