{% extends "format.html" %}

{% block titulo %}Plan Carrera {% endblock %}

{% block cabezera %} Recuperar Credenciales {% endblock %}

{% block contenido %} {% endblock %}
{% block contenidochico %} 

        <h3>Ingrese su e-mail</h3>

<form class="form-horizontal" action="." method="POST">
        <div id="form-group">
            <label for="email">E-Mail</label>
            <input type="email" class="form-control" id="recemail" name="recemail"  value="name@example.com" required />
        </div>
        <div style=padding-top:15px>
            <button type="submit" class="btn btn-success">Recuperar!!</button>
        </div>
	{% if mensj != "" %}
        	<FONT COLOR="RED">*{{mensj}}</font>
		<p>Presione <a href="/">aqui</a> para volver al inicio</p>
        {% endif %}
</form>
{% endblock %}


